{% extends "webapp/index.html" %}

{% block content %}

	  <div class="flex justify-center items-center h-screen shadow-xl">
		  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
			<div class="-mx-3 md:flex mb-6">
			  <div class="md:w-full px-3">
				{% if error %}
					<div class="bg-red-200 border border-red-600 p-8 rounded-md shadow-sm text-center">
						<code>{{ error }} ~> {{ wrong_name }}</code><br>
						<a class="text-blue-500" href="/">try again</a>
					</div>
				{% endif %}
				  {% if form %}
						<form method="post">
							{% csrf_token %}
								<label class="tracking-wide text-black text-lg mb-5">
									Enter Your City Name:
								</label>
								<input class="w-full bg-gray-200 text-black caret-sky-800 border border-gray-200 rounded py-3 px-4 mb-3 mt-2" name="city" type="text" placeholder="Tehran, Prague...">
							<div class="-mx-3 md:flex mt-2">
								<div class="md:w-full px-3">
									<button class="transition focus:translate-y-1 duration-200 md:w-full bg-emerald-600 text-white font-bold py-2 px-4 border-b-4 border-emerald-300 focus:border-gray-100 rounded-full">
										Show Me!
									</button>
								</div>
							</div>
						</form>	
					{% endif %}
					{% block data %}{% endblock data %}
				</div>
			</div>
		  </div>
	  </div>


{% endblock content %}