{% load static %}

<footer class="footer items-center p-4 bg-indigo-600/30 dark:bg-800-900/30 fixed bottom-0 w-full backdrop-blur-sm">
    <div class="items-center grid-flow-col">
        <span class="text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
            </svg>
        </span>
          <p class="text-lime-100 dark:text-white">
              Made with <span class="heart">❤</span> by <a class="hover:underline hover:decoration-double decoration-pink-300" href="https://github.com/MojtabaMonfared" target="_blank">Mojtaba Monfared</a>
          </p>
    </div> 
        <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
            <p class="hover:underline hover:decoration-double decoration-pink-300 text-lime-100 dark:text-white">
                Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>
            </p>
            <!-- add github logo svg -->
            <!-- Github copilot is awesome :) -->
            <a class="text-white" href="https://github.com/MojtabaMonfared/weather">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0020 4.77 5.07 5.07 0 0019.91 1S18.73.65 16 2.48a13.38 13.38 0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 005 4.77a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 009 18.13V22"></path>
            </a>
    </div>
</footer>