{% load static %}

<html>

    <head>

        <title>Weather</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link href="{% static 'css/main.css' %}" rel="stylesheet"> -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="{% static 'favicon.ico' %}">

    </head>



    <body style="background: url('https://wallpapercave.com/wp/wp9127446.jpg'); background-size: cover;">

        {% include "webapp/navbar.html" %}
        
        {% block content %}
        {% endblock content %}

        {% include "webapp/footer.html" %}
    </body>

    <script src="{% static 'js/script.js' %}"></script>
    
</html>